<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.opents.game">
    <uses-permission android:name="android.permission.INTERNET" />
    <application android:label="OpenTS-A" android:icon="@drawable/opents_a_icon" android:hasCode="true" android:extractNativeLibs="true">
        <activity android:name="android.app.NativeActivity"
            android:screenOrientation="sensorLandscape"
            android:exported="true"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <meta-data android:name="android.app.lib_name" android:value="GameD" />

        </activity>
        <activity android:name=".GameFilesActivity" android:exported="false"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity android:name=".ConnectionHelpActivity" android:exported="false"
            android:screenOrientation="sensorLandscape"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity android:name=".HostAddressActivity" android:exported="false"
            android:screenOrientation="sensorLandscape"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity android:name=".LauncherActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
